<body id="bg6">
    <div class="well chat-index">
        <strong><h1 class="new-title">Create a new DeepChat</h1></strong>
        <p class="description">
          Create a new chat with the suggested question, or come up with one of your own! Refresh the page to generate a new question.
        </p>
        <%= form_for @chat_room do |f| %>
        <div class="form-group">
            <strong><%= f.label :subject %></strong>
            <%= f.text_field :title, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
            <strong><%= f.label :question %></strong>
            <%= f.text_field :question, :value => "#{@new_question}",autofocus: true, class: 'form-control' %>
        </div>
        <%= f.submit "Create chat!", class: 'btn btn-primary' %>
        <% end %>
    </body>
</div>
