<body id="bg4">
    <div class="well" id="chat-container">
        <h1 class="description"><%= @chat_room.title %></h1>

        <div id="question-container">
            <h3 class="question">Discussion Question: </h3>
            <h5 class="question"><%= @chat_room.question %></h5>
        </div>

        <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
            <%= render @chat_room.messages %>
        </div>

        <hr>

        <%= form_for @message, url: '#' do |f| %>
        <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
        <div class="form-group">
            <%= f.label :message %>
            <%= f.text_area :body, class: 'form-control' %>
            <small class="text-muted">2-1000 characters</small>
        </div>

        <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
        <% end %>
    </div>
</body>
